/***********************************************************************\
|                                                                       |
|    Layout                                                             |
|                                                                       |
\***********************************************************************/

@font-face {
    font-family: "Ubuntu";
    src: url('Ubuntu.ttf');
}

* {
    border: none;
    padding: 0 auto;
    margin: 0 auto;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

body, section { width: 728px; }
body { padding: 30px 0px 10px 0; }

header {
    height: 28px;
    background-color: #222222;
    background-image: -webkit-linear-gradient(rgb(194, 190, 186), rgb(124, 121, 118));
    background-image: -moz-linear-gradient(rgb(194, 190, 186), rgb(124, 121, 118));
    background-image: -o-linear-gradient(rgb(194, 190, 186), rgb(124, 121, 118));
    background-image: linear-gradient(center top ,  rgb(194, 190, 186), rgb(124, 121, 118));
    border-top: 1px solid #DDDDDD;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius   : 10px 10px 0px 0px;
    -o-border-radius     : 10px 10px 0px 0px;
    border-radius        : 10px 10px 0px 0px;
    color: #333333;
}

section {
    height: 580px;
    background-color: rgb(76, 73, 70);
    overflow: hidden;
}

footer {
    background-image: -webkit-linear-gradient(rgb(236, 236, 236), rgb(168, 168, 168));
    background-image: -moz-linear-gradient(rgb(236, 236, 236), rgb(168, 168, 168));
    background-image: -o-linear-gradient(rgb(236, 236, 236), rgb(168, 168, 168));
    background-image: linear-gradient(rgb(236, 236, 236), rgb(168, 168, 168));
    border-bottom: 1px solid rgb(136, 136, 136);
    border-top: 1px solid rgb(204, 204, 204);
    overflow: hidden;
    margin: 0px;
    padding: 3px 6px;
    position: relative;
    height: 31px;
}

/***********************************************************************\
|                                                                       |
|  Slideshow                                                            |
|                                                                       |
\***********************************************************************/

#slideshow, #slideshow  > div {
    width: 722px;
    height: 542px;
}

#slideshow {
    position: relative;
    overflow: none;
}

#slideshow  > div {
    position: absolute;
    overflow: hidden;
}

div.present {
    background-image: url(images/background.jpg);
    color: white;
    font-size: 36px;
    text-shadow: black 1px 1px 3px;
}

#slide1 h1, #slide2 h1, #slide5 h1, #slide6 h1 {
    padding-top: 200px;
}

#slide1 hr {
    width: 85%;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 0.75;
    margin-top: 10px;
}

#slide3 img {
    position: absolute;
    -o-transform      : rotate(10deg);
    -moz-transform    : rotate(10deg);
    -webkit-transform : rotate(10deg);
    transform         : rotate(10deg);
    left: 0px;
    bottom: -40px;
    border: 2px solid #000000;
}

#slide3 h1, #slide4 h1, #slide4 h2 {
    font-size: 36px;
    text-shadow: black 1px 1px 3px;
}

#slide3 h1, #slide4 h1 { padding-top: 100px; }
#slide4 h2 { padding-top: 150px; }

#slide3 small, #slide4 small {
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 18px;
    color: black;
}

div.resume { background-color: #FFFFFF; }

div.buttonresumed {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 138.5%;
    padding: 10px;
    opacity: 0.75;
    height: 95px;
    line-height: 95px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -o-border-radius: 90px;
    border-radius: 90px;
    border: 1px solid #659635;
    background: #99ca28;
    text-shadow: -1px -1px 2px #777777;
    color: #ffffff;
    background: -webkit-linear-gradient(top, #CFE782 0%, #9BCB2A 2%, #5DA331 97%, #659635 100%);
    background: -moz-linear-gradient(top, #CFE782 0%, #9BCB2A 2%, #5DA331 97%, #659635 100%);
    background: -o-linear-gradient(top, #CFE782 0%, #9BCB2A 2%, #5DA331 97%, #659635 100%);
    background: linear-gradient(top, #CFE782 0%, #9BCB2A 2%, #5DA331 97%, #659635 100%);
}

div.buttonresumed {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#slide7 div.head {
    float: right;
    padding-top: 150px;
    padding-right: 30px;
    line-height: 45px;
}

#slide7 div.head a { color: #000000; }

#slide7  img {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    height: 500px;
    -o-transform     : rotate(-2deg);
    -moz-transform   : rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform        : rotate(-2deg);
    -o-box-shadow     : black 1px 1px 3px;
    -moz-box-shadow   : black 1px 1px 3px;
    -webkit-box-shadow: black 1px 1px 3px;
    box-shadow        : black 1px 1px 3px;
}

#slide8 span {
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 40px;
    color: #FFFFFF;
    z-index: 3;
}

#slide8 small {
    position: absolute;
    bottom: 35px;
    left: 40px;
    font-size: 18px;
    color: #ffffff;
}

#slide8 img, #slide12 img {
    width: 650px;
    border: 1px solid grey;
    margin-top: 15px;
    padding: 15px;
    -webkit-transform: rotate(1deg);
    -moz-transform   : rotate(1deg);
    -o-transform     : rotate(1deg);
    transform        : rotate(1deg);
}

div.timeline {
    width: 600px;
    height: 400px;
    border: 1px solid #B7C0D6;
    background-color: #E7EBF2;
}

#slide10 h1 {
    padding-top: 10px;
    padding-bottom: 40px;
    font-weight: normal;
}

#slide10 img {
    height: 450px;
}

#slide11 h1 {
    padding-top: 120px;
    font-size: 30px;
    font-weight: normal;
}

#slide11 ul {
    list-style-type: none;
    padding: 0!important;
    margin: 0!important;
    position: absolute;
    bottom: 80px;
}

#slide11 li {
    display: block;
    float: left;
    width: 160px;
    height: 200px;
    margin: 10px;
    font-weight: bold;
    font-style: italic;
}

#slide11 li img {
    padding-top: 30px;
}

#slide12 span {
    font-size: 30px;
    position: absolute;
    bottom: 25px;
    left: 60px;
}

#slide13 h1, #slide14 h1 {
    font-size: 36px;
    padding: 200px 50px 0 50px;
}

#slide15 { padding-top: 10px; }
#slide15 img { padding-top: 30px; }

/***********************************************************************\
|                                                                       |
|  Navigation buttons                                                   |
|                                                                       |
\***********************************************************************/

.menu button {
    display: block;
    cursor: pointer;
    float: left;
    background-image: -webkit-linear-gradient(#F9F9F9, #8C8C8C);
    background-image: -moz-linear-gradient(#F9F9F9, #8C8C8C);
    background-image: -o-linear-gradient(#F9F9F9, #8C8C8C);
    background-image: linear-gradient(#F9F9F9, #8C8C8C);
    border: 1px solid #6D6D6D;
    margin: 1px 5px 1px 0px;
    padding: 1px 3px;
    width: 22.5px;
    user-select        : none;
    -o-user-select     : none;
    -moz-user-select   : none;
    -webkit-user-select: none;
    border-radius                 : 12px;
    -o-border-top-left-radius     : 12px;
    -moz-border-radius-topleft    : 12px;
    -webkit-border-top-left-radius: 12px;
}

.menu button:hover {
    background-image: -webkit-linear-gradient(#F9F9F9 50%, #8C8C8C );
    background-image: -moz-linear-gradient(#F9F9F9 50%, #8C8C8C );
    background-image: -o-linear-gradient(#F9F9F9 50%, #8C8C8C );
    background-image: linear-gradient(#F9F9F9 50%, #8C8C8C );
}

.menu button:first-child {
    border-top-left-radius         : 1em;
    -o-border-top-left-radius      : 1em;
    -moz-border-radius-topleft     : 1em;
    -webkit-border-top-left-radius : 1em;
    border-bottom-left-radius         : 1em;
    -o-border-bottom-left-radius      : 1em;
    -moz-border-radius-bottomleft     : 1em;
    -webkit-border-bottom-left-radius : 1em;
}

.menu button:last-child {
    border-top-right-radius         : 1em;
    -o-border-top-right-radius      : 1em;
    -moz-border-radius-topright     : 1em;
    -webkit-border-top-right-radius : 1em;
    border-bottom-right-radius         : 1em;
    -o-border-bottom-right-radius      : 1em;
    -moz-border-radius-bottomright     : 1em;
    -webkit-border-bottom-right-radius : 1em;
}

/* navigation menu */
#slideshow .menu {
  position: absolute;
  /*bottom: 0;*/
  /*right: 2em;*/
  /*font-size: 0.75em;*/
  bottom: -32px;
  left: 300px;
    margin: 0;
  border-radius         : 0px;
  -o-border-radius      : 0px;
  -moz-border-radius    : 0px;
  -webkit-border-radius : 0px;
  box-shadow         : none;
  -o-box-shadow      : none;
  -moz-box-shadow    : none;
  -webkit-box-shadow : none;
  z-index: 2;
}
/* no transition for the menu! */
#slideshow .menu {
  opacity: 1 !important;
  visibility: visible !important;
}
#slideshow .menu button {
  opacity: 1;
  transition         : none;
  -o-transition      : none;
  -moz-transition    : none;
  -webkit-transition : none;
}
#slideshow .menu button[smil=idle] {
  opacity: 0.5;
  transform         : none;
  -o-transform      : none;
  -moz-transform    : none;
  -webkit-transform : none;
}

/***********************************************************************\
|                                                                       |
|  CSS3 Transitions                                                     |
|                                                                       |
|***********************************************************************|
|                                                                       |
|  'transform' and 'transition' rules are supported by these browsers:  |
|    Firefox 4+                                                         |
|    Chrome 5+                                                          |
|    Safari 4+                                                          |
|    Opera 10.6+                                                        |
|                                                                       |
|  => on other browsers, only the 'opacity' rule would apply            |
|                                                                       |
\***********************************************************************/
/*#slideshow > *,*/
/*#slideshow .transition * {*/
  /*transition         : all 0.5s;*/
  /*-o-transition      : all 0.5s;*/
  /*-moz-transition    : all 0.5s;*/
  /*-webkit-transition : all 0.5s;*/
/*}*/
#slideshow * {
  transition         : all 1s;
  -o-transition      : all 1s;
  -moz-transition    : all 1s;
  -webkit-transition : all 1s;
  /*transition         : opacity 1s,         transform 1s;*/
  /*-o-transition      : opacity 1s,      -o-transform 1s;*/
  /*-moz-transition    : opacity 1s,    -moz-transform 1s;*/
  /*-webkit-transition : opacity 1s, -webkit-transform 1s;*/
}

/* cross-fade effect */
.crossfade #slideshow > *[smil=idle],
.crossfade #slideshow > .transition *[smil=idle],
#slideshow > .crossfade *[smil=idle] {
  opacity: 0;
}
.crossfade #slideshow > *[smil=done],
.crossfade #slideshow > .transition *[smil=done],
#slideshow > .crossfade *[smil=done] {
  opacity: 0;
}
.crossfade #slideshow > *[smil=active],
.crossfade #slideshow > .transition *[smil=active],
#slideshow > .crossfade *[smil=active] {
  opacity: 1;
  z-index: 1;
}


/* carousel effect */
.carousel #slideshow > *[smil=idle],
.carousel #slideshow > .transition *[smil=idle] {
  opacity: 0;
  transform         : scale(0.3) translate(+220%);
  -o-transform      : scale(0.3) translate(+220%);
  -moz-transform    : scale(0.3) translate(+220%);
  -webkit-transform : scale(0.3) translate(+220%);
}
.carousel #slideshow > *[smil=done],
.carousel #slideshow > .transition *[smil=done] {
  opacity: 0;
  transform         : scale(0.3) translate(-220%);
  -o-transform      : scale(0.3) translate(-220%);
  -moz-transform    : scale(0.3) translate(-220%);
  -webkit-transform : scale(0.3) translate(-220%);
}
.carousel #slideshow > *[smil=active],
.carousel #slideshow > .transition *[smil=active] {
  opacity: 1;
}


/* fade-through effect */
.fadethrough #slideshow > *[smil=idle] {
  opacity: 0;
}
.fadethrough #slideshow > *[smil=done] {
  opacity: 0;
  transform         : scale(1.5) translate(0, -10%);
  -o-transform      : scale(1.5) translate(0, -10%);
  -moz-transform    : scale(1.5) translate(0, -10%);
  -webkit-transform : scale(1.5) translate(0, -10%);
}
.fadethrough #slideshow > *[smil=active] {
  opacity: 1;
  z-index: 1;
}


/* slide-in effect */
.slide #slideshow > *[smil=idle] {
  transform         : translate(+120% ,0);
  -o-transform      : translate(+120% ,0);
  -moz-transform    : translate(+120% ,0);
  -webkit-transform : translate(+120% ,0);
}
.slide #slideshow > *[smil=done] {
  transform         : translate(-120% ,0);
  -o-transform      : translate(-120% ,0);
  -moz-transform    : translate(-120% ,0);
  -webkit-transform : translate(-120% ,0);
}
.slide #slideshow > *[smil=active] {
  z-index: 1;
}


/* toss effect */
.toss #slideshow > *[smil=done] {
  opacity: 0;
}
.toss #slideshow > *[smil=idle] {
  opacity: 0;
  transform         : rotate(-30deg) translate(-80px, -240px);
  -o-transform      : rotate(-30deg) translate(-80px, -240px);
  -moz-transform    : rotate(-30deg) translate(-80px, -240px);
  -webkit-transform : rotate(-30deg) translate(-80px, -240px);
}
.toss #slideshow > *[smil=active] {
  opacity: 1;
}


/* disable all transitions */
.none #slideshow * {
  transition         : none;
  -o-transition      : none;
  -moz-transition    : none;
  -webkit-transition : none;
}
.none #slideshow > *,
.none #slideshow > .transition * {
  visibility: hidden;
}
.none #slideshow > *[smil=active],
.none #slideshow > .transition *[smil=active] {
  visibility: visible;
}


/*****************************************************************************\
|                                                                             |
|  Transition Selector                                                        |
|                                                                             |
\*****************************************************************************/

#transitionSelector {
  width: 640px;
  margin: 0 auto;
  padding-right: 2em;
  text-align: right;
  font-size: 0.8em;
  user-select         : none;
  -o-user-select      : none;
  -moz-user-select    : none;
  -webkit-user-select : none;
}
#transitionSelector button {
  cursor: pointer;
  color: navy;
  border: none;
  background: none;
  padding: 0;
}
#transitionSelector button:hover {
  text-decoration: underline;
}
.none        button.none,
.crossfade   button.crossfade,
.carousel    button.carousel,
.fadethrough button.fadethrough,
.slide       button.slide,
.toss        button.toss {
  text-decoration: underline;
  color: brown !important;
}
